<script src=https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js></script>
<script src=src/phaser-plugin-isometric.min.js></script>
<script src=src/main.js></script>
<h1><font color="blue" size="60">Isometric World By Cole</font></h1>
<p>
<img src="images/pic1.png" alt="Game Dev Picture" width="100" height="100">
<img src="images/pic2.png" alt="Game Dev Picture" width="100" height="100">
<img src="images/pic3.png" alt="Game Dev Picture" width="100" height="100">
<img src="images/pic4.png" alt="Game Dev Picture" width="100" height="100">
<img src="images/pic5.png" alt="Game Dev Picture" width="100" height="100">
<img src="images/pic6.png" alt="Game Dev Picture" width="100" height="100">
<img src="images/pic7.png" alt="Game Dev Picture" width="100" height="100">
<img src="images/pic8.png" alt="Game Dev Picture" width="100" height="100">
<img src="images/pic9.png" alt="Game Dev Picture" width="100" height="100">
<img src="images/pic10.png" alt="Game Dev Picture" width="100" height="100">
<img src="images/pic11.png" alt="Game Dev Picture" width="100" height="100">
<img src="images/pic12.png" alt="Game Dev Picture" width="100" height="100">
</p>